*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

p {
    color: mediumspringgreen;
}

span {
    color: rgb(15, 15, 236);
}

.block {
    color: orange;
}

#titel-1,
#titel-2,
#titel-3,
#titel-4,
#titel-5 {
    color: rgb(241, 81, 7);
}

span.text {
    color: rgb(41, 3, 73);
}

.mail {
    color: yellow;
}

p.titel {
    color: tomato;
}

b.time {
    color: slategrey;
}

.ul {
    color: violet;
}